.loader_icon{
  text-align: center;
}
ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overflowScroll{
  height: 100vh;
  overflow-y: auto;
}

.overflowScroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.overflowScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.overflowScroll::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

/* Handle on hover */
.overflowScroll::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
.groupTbaleHeader{
  flex-direction: row;
  display: flex;
  color: #495057;
  font-weight: 600;
}
.groupTableBody{
  flex-direction: row;
  display: flex;
  color: #495057;
  margin-bottom: 0px;
  font-size: 14.2px;
}
.groupTableBody .productGDesc{
  margin-top: 2px;
}
.serialNumber{
  width: 4% !important;
}
.productGDesc{
  width: 85% !important;
}
.groupAction{
  width: 11% !important;
}

.carousel-item {
  transition: transform .0s ease-in-out !important;
}
.expandable-body td{
  background-color: #ccc;
  padding: 10px !important;
}
.itemTableRows td{
  background-color: white;
}
.dataTables_filter{
  POSITION: relative;
  text-align: right;
}
.dataTables_filter label {
  display: inline-flex;
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
.cardRowItem{
padding: 5px;
margin-bottom: 10px;
box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
border-radius: 5px;
}
.carousel.slide:hover .fas.fa-chevron-right,
.carousel.slide:hover .fas.fa-chevron-left{
color: black;
}

.bgHash{
background-color: #ededed66;
}
