

<div *ngIf="allProducts;" class="table-responsive" id="accordion">

  <div class="card" *ngFor="let product of allProducts; let productIndex = index;">
    <a class="d-block w-100" >
      <div class="card-header bgHash">
        <h4 class="card-title w-100 groupTableBody">
          <div class="serialNumber">
            <div class="card-tools">
              <a data-toggle="collapse" href="#collapseOne{{ productIndex }}" data-card-widget="collapse">
                <img class="btn dropdownIcon"  src="assets/dist/img/icons/down-arrow.png">
              </a>
            </div>
          </div>
          <div class="productGDesc"><div class="float-left"># Order - Number : <a  class="mr-3 text-blue" target="_blank"> {{product.order_number}} </a>  </div><code class="direct-chat-timestamp float-right">{{ product.created_at | formatDate:'shortDate' }}</code></div>
          <div class="groupAction" ngbTooltip="Full Order">
            <button type="button" class="buttonIcon"><img class="editIcon" title="Full Order" (click)="editClicked(product, 'FULL-ORDER')" src="assets/dist/img/icons/editfull.png"></button>
          </div>
        </h4>
      </div>
    </a>
    <div id="collapseOne{{ productIndex }}" class="collapse responsiveFeedbackTableBody" [class.show]="ifOrderIdSearch"  data-parent="#accordion">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="th-color">Item Description</th>
            <th class="th-color">SKU Original</th>
            <th class="th-color">Price</th>
            <th class="th-color">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lineItem of product.line_items">
            <td class="colorSelect"><input type="checkbox" (click)="selectlineItem($event, lineItem.sku, product.order_number)"></td>
            <td class="colorSelect">{{lineItem.title}}</td>
            <td class="colorSelect">{{lineItem.sku}}</td>
            <td class="colorSelect">{{lineItem.price}}</td>
            <td class="colorSelect">{{lineItem.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


