<div class="card-header">
  <h3 class="card-title">{{ cardTitle }}</h3>
  <div class="card-tools">
    <ul class="nav nav-pills ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#{{ cardAliasName }}-chart" data-toggle="tab">Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ cardAliasName }}-table" data-toggle="tab">Table</a>
      </li>
      <li class="nav-item">
        <div class="input-group m-0">
          <button class="btn btn-tool btn-outline-secondary m-0" type="button" id="dateRangePicker{{ cardAliasName }}">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
