// @import "../../../assets/scss/mixins/sidebar";

.sidebar-dark-primary{
    background-color: #343a40;
}

.elevation-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.main-sidebar {
    height: 100vh;
    overflow-y: hidden;
    z-index: 1038;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0.8125rem 0.5rem;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
  }
  .brand-link:hover {
    color: #fff;
    text-decoration: none;
  }
  .brand-image {
    float: left;
    line-height: .8;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
  }

.active{
    background-color: #1aa1a1;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
}

ul{
    padding-left: 5px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.nav-link{
    padding: 15px;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
}

@media (max-width: 768px){
    .laptopView{
        display: none;
    }
    .tabletView{
        display: flex;
        flex-direction: column;
        width: 4.5rem;
    }
    .active{
        max-width: 18vw;
    }
}

@media (min-width: 769px){
    .tabletView{
        display: none;
    }
    .laptopView{
        display: flex;
        flex-direction: column;
    }
    .active{
        max-width: 16vw;
    }
}