<!-- Navbar -->
<nav class="main-header navbar navbar-expand n   navbar-light" [ngStyle]="{'margin-left':booleanValue === false ? '0px' : '250px'}">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" role="button" (click)="toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item" (click)="searchBar = !searchBar;">

      <a class="nav-link" data-widget="navbar-search" role="button" *ngIf="!searchBar">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
      <div [ngClass]=" searchBar ? 'navbar-search-open' : 'navbar-search-block'" style="margin-top: 8px;">
        <form class="form-inline">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
              <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown" (click)="notification = !notification;">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <fa-icon [icon]="faBell"></fa-icon>
        <span class="badge badge-warning navbar-badge"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" [ngClass]="notification ? 'show' : ''">
        <span class="dropdown-item dropdown-header"></span>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> 4 new messages
          <span class="float-right text-muted text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
          <i class="fas fa-users mr-2"></i> 8 friend requests
          <span class="float-right text-muted text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
          <i class="fas fa-file mr-2"></i> 3 new reports
          <span class="float-right text-muted text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item dropdown-footer">See All Notifications</a>
      </div>
    </li>
    <!--user profile-->
    <li class="nav-item" (click)="profile = !profile;">
      <a class="nav-link" data-toggle="dropdown">
        <div class="image">
          <img src="../../../assets/images/user.png" class="img-circle elevation-2"
            style="width: 35px;height: 30px;margin-left: 3px;" alt="User Image">
        </div>
      </a>

      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" [ngClass]="profile ? 'show' : ''">
        <a class="dropdown-item">
          My Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
          Settings
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->