<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card p-4">
            <div class="row border">
              <ng-container *ngIf="returnsTracker.orderType !== 'NewOrder'; else newOrderBasicInfo">
              <div class="col-md-6">
                <div class="orderDetails pt-4">
                  <ul>
                    <li><span><label>Order Number: </label> {{ returnsTracker.orderNumber }}</span></li>
                    <li><span><label>Store Name: </label> {{ returnsTracker.storeName }}</span></li>
                    <li><span><label>Order Date: </label> {{ returnsTracker.orderDate | formatDate:'shortDate' }}</span></li>
                    <li><span><label>Customer: </label> {{ returnsTracker.customer }}</span></li>
                    <li><span><label>Customer Mail: </label> {{ returnsTracker.customerMail }}</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="orderDetails pt-4">
                  <ul>
                    <li>
                      <span><label class="noMarginBottom">SKU: </label>
                        <small>
                          <ul>
                            <ng-container *ngFor="let sku of allSkus;" >
                              <li>{{ sku }}</li>
                            </ng-container>
                          </ul>
                        </small>
                      </span>
                    </li>
                    <li><span><label>Tags: </label>
                      <small>
                        <ul>
                            <li>{{ returnsTracker.tags }}</li>
                        </ul>
                      </small>
                    </span>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-container>
            <ng-template #newOrderBasicInfo>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="returnsOrderId">Order Id:</label>
                  <input type="text" class="form-control" id="returnsOrderId" [ngModelOptions]="{ standalone: true }" [(ngModel)]="returnsTracker.orderNumber" [disabled]="true">
                </div>
                <div class="form-group">
                  <label for="returnsCustomer">Customer:</label>
                  <input type="text" class="form-control" id="returnsCustomer" [ngModelOptions]="{ standalone: true }" [(ngModel)]="returnsTracker.customer" >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="returnsTags">Tags:</label>
                  <input type="text" class="form-control" id="returnsTags" [ngModelOptions]="{ standalone: true }" [(ngModel)]="returnsTracker.tags" [disabled]="true">
                </div>
                <div class="form-group">
                  <label for="returnsOrderDate">Order Date:</label>
                  <input type="text" class="form-control" id="returnsOrderDate" [ngModelOptions]="{ standalone: true }" [(ngModel)]="returnsTracker.orderShortDate"  [disabled]="true">
                </div>
              </div>
            </ng-template>
            </div>
            <br>
            <form (ngSubmit)="onSubmit()">
            <div class="row p-4 responsiveForm checks">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="mio" type="checkbox" name="mio" value="true" [(ngModel)]="returnsTracker.MIO" [disabled]="true">
                    <label class="form-check-label" for="mio">Multiple Item Order</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="country" type="checkbox" name="country" value="true" [(ngModel)]="returnsTracker.country" [disabled]="returnsTracker.orderType !== 'NewOrder'">
                    <label class="form-check-label" for="country">Canada</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="shipStation" type="checkbox" name="shipStation" value="true" [(ngModel)]="returnsTracker.outSideShipStation" [disabled]="true">
                    <label class="form-check-label" for="shipStation">Out-Side Shipstation</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="row border responsiveForm skuGroup p-4">
              <ng-container *ngFor="let lineItem of returnsTracker.skuGroup; let itemIndex = index;">
                <div class="col-md-6 ">
                  <h3 class="card-title text-center bg-light  p-2">
                    <i class="fas fa-text-width"></i>
                    {{ lineItem.sku }}
                  </h3>

                </div>
                <div class="col-md-6 mt-2"><button type="button" (click)="removeExistRow(itemIndex)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></div>
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label for="qtyReturned">Quantity Returned:</label>
                    <input type="text" class="form-control" id="qtyReturned" appRestrictCharacters [ngModelOptions]="{ standalone: true }" [(ngModel)]="lineItem.qtyReturned" placeholder="Enter Quantity Returned">
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label for="damagedQty">Damaged Quantity:</label>
                    <input type="text" class="form-control" id="damagedQty" appRestrictCharacters [ngModelOptions]="{ standalone: true }" [(ngModel)]="lineItem.qtyDamaged" placeholder="Enter Damaged Quantity">
                  </div>
                </div>

              </ng-container>
              <div class="col-md-12 " >
                <button type="button" (click)="addSkuRow()" class="btn btn-info">Add Row</button>
              </div>
              <br>
              <ng-container *ngFor="let dynamicRow of dynamicRows; let rowIndex = index">
                <div class="col-md-6 mt-2">
                  <!-- Content for dynamically added rows -->
                  <input type="text" class="form-control" placeholder="Enter SKU" [ngModelOptions]="{ standalone: true }" [(ngModel)]="dynamicRow.sku" (keyup)="autosku($event, rowIndex)" >
                  <button type="button" *ngIf="dynamicRow.ShowSkuSuggestion" class="close-icon" (click)="clearSkuList(rowIndex)" type="reset"></button>
                  <ul *ngIf="dynamicRow.ShowSkuSuggestion"  class="sku-ul-list">
                    <li *ngFor="let sku of dynamicRow.SkusList"  (click)="selectedSku(sku, rowIndex) " class="colorSelect">{{ sku }}</li>
                  </ul>
                </div>
                <div class="col-md-6 mt-2">
                  <button type="button" (click)="removeRow(rowIndex)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                </div>
                <div class="col-md-6 mt-2">
                  <div class="form-group">
                    <label for="qtyReturned{{ rowIndex }}">Quantity Returned:</label>
                    <input type="text" class="form-control" appRestrictCharacters id="qtyReturned{{ rowIndex }}" [ngModelOptions]="{ standalone: true }" [(ngModel)]="dynamicRow.qtyReturned" placeholder="Enter Quantity Returned">
                  </div>
                </div>
                <div class="col-md-6 mt-2">
                  <div class="form-group">
                    <label for="damagedQty{{ rowIndex }}">Damaged Quantity:</label>
                    <input type="text" class="form-control" appRestrictCharacters id="damagedQty{{ rowIndex }}" [ngModelOptions]="{ standalone: true }" [(ngModel)]="dynamicRow.qtyDamaged" placeholder="Enter Damaged Quantity">
                  </div>
                </div>
              </ng-container>
            </div>
            <br>
            <div class="row">
              <ng-container *ngIf="returnsTracker.orderType === 'NewOrder'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="storeName">Store Name:</label>
                    <select class="form-control" id="storeName" [ngModelOptions]="{ standalone: true }" [(ngModel)]="returnsTracker.storeName">
                      <option value="">Select Store</option>
                      <option *ngFor="let store of allStoresList" value="{{store.storeName}}">{{store.storeName}}</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                </div>
              </ng-container>
              <div class="col-md-6 ">
                <div class="form-group">
                  <label for="status">Update Status:</label>
                  <select class="form-control" name="status" [(ngModel)]="returnsTracker.updateStatus" >
                    <option value="0">Select Status</option>
                    <option *ngFor="let status of statusOptions" [value]="status.id">{{ status.name }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="form-group">
                  <label for="uploadImgs">Upload Images:</label>
                  <div>
                    <input type="file" class="form-control" id="uploadImgs" multiple name="uploadImg" (change)="onFileSelected($event)" accept="image/*" id="uploadImgs"  style="display: none">
                    <!-- Button to trigger file input click event -->
                     <button type="button" class="btn btn-secondary" (click)="triggerFileInput()">Upload From Gallery</button>
                     <button type="button" class="btn btn-info ml-2" (click)="toggleCam()">Take Picture</button>
                  </div>

                </div>
              </div>
              <div class="col-md-12" *ngIf="isWebCamVisible">
                <div>
                  <webcam
                    *ngIf="!errors.length"
                    [height]="400"
                    [width]="600"
                    [trigger]="trigger$"
                    [imageQuality]="0.85"
                    (imageCapture)="handleImage($event)"
                    (initError)="handleInitError($event)"
                  ></webcam>
                  <div *ngIf="errors.length">
                    Error initializing webcam: {{ errors[0].message }}
                  </div>
                </div>
                <button type="button" class="btn btn-default mt-2" (click)="triggerSnapshot()">Take Snapshot</button>
              </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3 col-sm-12" *ngFor="let preview of imagePreviews; let imageIndex = index">
                  <div  class="p-1 d-flex uploadImageDiv">
                    <img [src]="preview" alt="Image Preview"  />
                    <div><button type="button" [ngbTooltip]="'Remove Image'" (click)="removeImage(imageIndex)" class="btn btn-danger btn-sm ml-3">X</button></div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="comment">Comment:</label>
                  <textarea class="form-control" name="comment" [(ngModel)]="returnsTracker.comment"></textarea>
                </div>
              </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
            <div *ngIf="returnsTracker.comments.length > 0" class="row mt-2">
              <div class="col-md-12">
                <label for="pcmments">Previous Comments:</label>
                <div class="tableAuto">
                  <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th class="noWordWrap" style="width: 60px">S No.</th>
                        <th class="noWordWrap" style="width: 200px">Date & Time</th>
                        <th style="width: 250px">Agent</th>
                        <th>Comment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let comment of returnsTracker.comments; let commentIndex = index; ">
                        <td>{{ commentIndex+1 }}.</td>
                        <td class="noWordWrap">{{ comment.datetime | formatDate:'customDateTime' }}</td>
                        <td class="noWordWrap">{{ comment.agent_name }}</td>
                        <td class="noWordWrap">{{ comment.comment }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
