<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <app-small-box [count]="150" [title]="'Total Records'" [bgColor]="'bg-info'" [icon]="'ion ion-bag'" [link]="''"></app-small-box>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <app-small-box [count]="53" [title]="'Bounce Rate'" [bgColor]="'bg-success'" [icon]="'ion ion-stats-bars'" [link]="''"></app-small-box>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <app-small-box [count]="44" [title]="'User Registrations'" [bgColor]="'bg-warning'" [icon]="'ion ion-person-add'" [link]="''"></app-small-box>

        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <app-small-box [count]="65" [title]="'Unique Visitors'" [bgColor]="'bg-danger'" [icon]="'ion ion-pie-graph'" [link]="''"></app-small-box>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Assignee</h3>

              <div class="card-tools">
                <ul class="nav nav-pills ml-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Chart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#sales-chart" data-toggle="tab">Table</a>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn daterange btn-tool nav-link m-0" title="Date range"><i class="far fa-calendar-alt"></i></button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-tool nav-link m-0" data-card-widget="collapse" data-toggle="tab"><i class="fas fa-minus"></i></button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-tool nav-link m-0" data-card-widget="remove" data-toggle="tab"><i class="fas fa-times"></i></button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="tab-content p-0">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="revenue-chart">
                  <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType"> </canvas>
                  </div>
                </div>
                <div class="chart tab-pane responsiveBody" id="sales-chart" >
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th> Status </th>
                        <th> Fulfillment </th>
                        <th class="noWordWrap"> Wellness Advisors </th>
                        <th class="noWordWrap"> Grand Total </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let assignee of assigneeData; let assigneeIndex = index;">
                        <tr>
                          <td>{{ assigneeIndex+1 }}.</td>
                          <td>{{ assignee.status }}</td>
                          <td>{{ assignee.fulfillment_count }}</td>
                          <td>{{ assignee.wellness_advisor_count }}</td>
                          <td>{{ assignee.grand_total }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Return</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div style="display: block;">
                <canvas baseChart
                      [datasets]="pieChartData"
                      [labels]="pieChartLabels"
                      [options]="pieChartOptions"
                      [legend]="pieChartLegend"
                      [type]="pieChartType">
                </canvas>

              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-5">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Source</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartDataSource" [labels]="barChartLabelsSource" [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType"> </canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">MIO (Multiple Item Order)</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartDataMIO" [labels]="barChartLabelsMIO" [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType"> </canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Country (Canada)</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartDataCountry" [labels]="barChartLabelsCountry" [options]="barChartOptionsCountry" [legend]="barChartLegend" [type]="barChartType"> </canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
