.small-box .icon > i.fa, .small-box .icon > i.fab, .small-box .icon > i.fad, .small-box .icon > i.fal, .small-box .icon > i.far, .small-box .icon > i.fas, .small-box .icon > i.ion{
  top: 10px;
}
.card-title{
  font-size: medium;
}
.paddingLeft-10{
  padding-left: 10px;
}
