<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <app-small-box [count]="150" [title]="'Total Records'" [bgColor]="'bg-info'" [icon]="'ion ion-bag'" [link]="''"></app-small-box>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <app-small-box [count]="53" [title]="'Bounce Rate'" [bgColor]="'bg-success'" [icon]="'ion ion-stats-bars'" [link]="''"></app-small-box>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <app-small-box [count]="44" [title]="'User Registrations'" [bgColor]="'bg-warning'" [icon]="'ion ion-person-add'" [link]="''"></app-small-box>

        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <app-small-box [count]="65" [title]="'Unique Visitors'" [bgColor]="'bg-danger'" [icon]="'ion ion-pie-graph'" [link]="''"></app-small-box>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-chart-table [chartOptions]="StackedbarChartOptions" [chartLegend]="true" [chartType]="'bar'" [chartData]="assigneeChartData" [chartTableData]="assigneeData" [chartLabels]="assigneeChartLabels" (valueToParent)="dateFromChild($event, 'Assignee')" [cardBackground]="cardBackgroundInfo" [cardTitle]="'Assignee'" [cardAliasName]="'assignee'"></app-chart-table>
        </div>
        <div class="col-md-3">
          <app-chart-table [chartOptions]="pieChartOptions" [chartLegend]="true" [chartType]="'pie'" [chartData]="returnChartData" [chartLabels]="returnChartLabels" [chartTableData]="returnTableDataFormate" (valueToParent)="dateFromChild($event, 'Return')" [cardBackground]="cardBackgroundInfo" [cardTitle]="'Return'" [cardAliasName]="'return'"></app-chart-table>
        </div>
        <div class="col-md-5">
          <app-chart-table [chartOptions]="StackedbarChartOptions" [chartLegend]="true" [chartType]="'bar'" [chartData]="sourceChartData" [chartLabels]="sourceChartLabels" [chartTableData]="sourceTableDataFormate" (valueToParent)="dateFromChild($event, 'Source')" [cardBackground]="cardBackgroundInfo" [cardTitle]="'Source'" [cardAliasName]="'source'"></app-chart-table>
        </div>
        <div class="col-md-3">
          <app-chart-table [chartOptions]="StackedbarChartOptions" [chartLegend]="true" [chartType]="'bar'" [chartData]="mioChartData" [chartLabels]="mioChartLabels" [chartTableData]="mioTableDataFormate" (valueToParent)="dateFromChild($event, 'MIO')" [cardBackground]="cardBackgroundInfo" [cardTitle]="'MIO'" [cardAliasName]="'mio'" [canvaHeight]="300" ></app-chart-table>
        </div>
        <div class="col-md-3">
          <app-chart-table [chartOptions]="StackedbarChartOptions" [chartLegend]="true" [chartType]="'bar'" [chartData]="countryChartData" [chartLabels]="countryChartLabels" [chartTableData]="countryTableDataFormate" (valueToParent)="dateFromChild($event, 'Country')" [cardBackground]="cardBackgroundInfo" [cardTitle]="'Country'" [cardAliasName]="'country'" [canvaHeight]="300" ></app-chart-table>
        </div>

        <div class="col-md-6">
          <div class="card card-info">
            <app-card-chart-header class="bg-info" [cardTitle]="'Complaint Type'" [cardAliasName]="'complaint_type'" (valueToParent)="dateFromChild($event, 'Complaint Type')"></app-card-chart-header>

            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group paddingLeft-10">
                    <label>Solution</label>
                    <select class="form-control" [(ngModel)]="params.ComplaintType.Solution" (change)="getComplaintTypeCount()">
                      <ng-container *ngIf="staticData.solutions">
                        <option *ngFor="let solution of staticData.solutions;" value="{{ solution.solution }}"> {{ solution.solution }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-content p-0">
                <div class="chart tab-pane active p-3" id="complaintType-chart">
                  <div style="display: block">
                    <canvas baseChart [datasets]="complaintTypeChartData" [labels]="complaintTypeChartLabels" [options]="barChartOptionsNoStack" [legend]="true" [type]="barChartType"> </canvas>
                  </div>
                </div>
                <div class="chart tab-pane responsiveBody" id="complaintType-table" >
                  <ng-container *ngIf="complaintTypeTableData">
                    <app-basic-table [tableInfo]="complaintTypeTableData"></app-basic-table>
                  </ng-container>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col-md -->
        <div class="col-md-12">
          <div class="card card-info">
            <app-card-chart-header class="bg-info" [cardTitle]="'Complaint'" [cardAliasName]="'complaint'" (valueToParent)="dateFromChild($event, 'Complaint')"></app-card-chart-header>

            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group paddingLeft-10">
                    <label>Complaint Type</label>
                    <select class="form-control" [(ngModel)]="params.Complaint.ComplaintType" (change)="selectComplaint($event)">
                      <option *ngFor="let complaintTypeName of this.staticData.complaint;" value="{{ complaintTypeName.complaint_name }}"> {{ complaintTypeName.complaint_name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group paddingLeft-10">
                    <label>Complaint</label>
                    <select multiple class="form-control select2"  data-placeholder="Select Complaint" >
                      <option *ngFor="let complaintName of complaint;" value="{{ complaintName.complaintType }}">{{ complaintName.complaintType }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-content p-0">
                <div class="chart tab-pane active p-3" id="complaint-chart">
                  <div style="display: block">
                    <canvas baseChart [datasets]="complaintChartData" [labels]="complaintChartLabels" [options]="barChartOptionsNoStackNoColor" [legend]="true" [type]="barChartType" height="70"> </canvas>
                  </div>
                </div>
                <div class="chart tab-pane responsiveBody" id="complaint-table" >
                  <ng-container *ngIf="complaintTableData">
                    <app-basic-table [tableInfo]="complaintTableData"></app-basic-table>
                  </ng-container>

                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col-md -->
        <div class="col-md-12">
          <div class="card card-info">
            <app-card-chart-header class="bg-info" [cardTitle]="'SKU'" [cardAliasName]="'sku'" (valueToParent)="dateFromChild($event, 'SKU')"></app-card-chart-header>
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group paddingLeft-10">
                    <label>Complaint Type</label>
                    <select class="form-control" [(ngModel)]="params.SKU.ComplaintType" (change)="changeSKUParams($event)">
                      <option *ngFor="let complaintName of staticData.complaint;" value="{{ complaintName.complaint_name }}"> {{ complaintName.complaint_name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group paddingLeft-10">
                    <label>Complaint</label>
                    <select multiple class="form-control select2SKU" data-placeholder="Select Complaint">
                      <option *ngFor="let complaintName of skuComplaint;" value="{{ complaintName.complaintType }}">{{ complaintName.complaintType }}</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="tab-content p-0">
                <div class="chart tab-pane active p-3" id="sku-chart">
                  <div style="display: block">
                    <canvas baseChart [datasets]="skuChartData" [labels]="skuChartLabels" [options]="SKUbarChartOptionsNoStack" [legend]="true" [type]="'bar'" height="100"  > </canvas>
                  </div>
                </div>
                <div class="chart tab-pane responsiveBody" id="sku-table" >
                  <ng-container *ngIf="skuTableData">
                    <app-basic-table [tableInfo]="skuTableData"></app-basic-table>
                  </ng-container>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col-md -->
      </div>
    </div>
  </section>
</div>
