<div class="d-flex">
  <span class="handCursor" (click)="updateUser(params.data, params.rowIndex)"> <i class="fas fa-edit"></i></span>
  <div class="form-group ml-2 mb-0 mt-2">
    <div class="custom-control custom-switch">
      <input type="checkbox" (change)="userInactive(params.data, params.rowIndex, params.data.user_status, $event)" class="custom-control-input" id="customSwitch{{params.rowIndex}}" [checked]="params.data.user_status=='1'">
      <label class="custom-control-label" for="customSwitch{{params.rowIndex}}"></label>
    </div>
  </div>
  <span class="handCursor ml-2" (click)="userInactive(params.data, params.rowIndex, '2', $event)"> <i class="fas fa-trash"></i></span>
</div>
