<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card p-4">
            <div class="row border">
              <div class="col-md-6">
                <div class="orderDetails pt-4">
                  <ul>
                    <li>
                      <span>
                        <label>Order Number: </label>
                        <ng-container *ngIf="!editStatusf; else editOrderNumber">
                          <ng-container *ngIf="feedbackJsonData.orderLink; else plainOrder">
                            <a [href]="feedbackJsonData.orderLink" target="_blank" class="text-blue">{{ feedbackJsonData.orderId }}</a>
                          </ng-container>
                          <ng-template #plainOrder>{{ feedbackJsonData.orderId }}</ng-template>
                        </ng-container>
                        <ng-template #editOrderNumber>
                          <input type="text" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.orderId" class="form-control" placeholder="Enter Order Number" (input)="validateForm()">
                          <small *ngIf="maditoryFields.OrderNumber"  class="text-danger">* Order Number is required.</small>
                        </ng-template>
                      </span>
                    </li>
                    <li>
                      <span>
                        <label>Customer Mail: </label>
                        <ng-container *ngIf="!editStatusf; else editEmail">
                          <ng-container *ngIf="feedbackJsonData.customerLink; else plainEmail">
                            <a [href]="feedbackJsonData.customerLink" target="_blank" class="text-blue">{{ feedbackJsonData.email }}</a>
                          </ng-container>
                          <ng-template #plainEmail>{{ feedbackJsonData.email }}</ng-template>
                        </ng-container>
                        <ng-template #editEmail>
                          <input type="email" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.email" class="form-control" placeholder="Enter Email" (input)="validateForm()" >
                          <small *ngIf="maditoryFields.CustomerMail"  class="text-danger">* Email is required.</small>
                        </ng-template>
                      </span>
                    </li>
                    <li>
                      <span>
                        <label>Phone: </label>
                        <ng-container *ngIf="!editStatusf; else editPhone">
                          {{ feedbackJsonData.phone }}
                        </ng-container>
                        <ng-template #editPhone>
                          <input type="text" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.phone"  class="form-control" placeholder="Enter Phone Number" (input)="validateForm()">
                          <small *ngIf="maditoryFields.PhoneNumber"  class="text-danger">* Phone Number is required.</small>
                        </ng-template>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="orderDetails pt-4">
                  <ul>
                    <li *ngIf="getSKUlist() != ''">
                      <span>
                        <label [ngbTooltip]="showTooltip() ? getTooltipContent(this.feedbackJsonData) : ''" class="noMarginBottom mb-0">
                          SKU: <span class="font-weight400">{{ getSKUlist() }}</span>
                        </label>
                      </span>
                    </li>
                    <li *ngIf="trackingData?.tracking_number">
                      <span>
                        <label>Tracking Id: </label>
                          <span class="trackingNumber bgclosed">
                            {{ trackingData?.tracking_company }}-<a target="_blank" class="text-blue" [href]="trackingData?.tracking_url">{{ trackingData?.tracking_number }}</a>
                          </span>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <br>
            <form >
              <div class="row p-4 responsiveForm checks">
                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" id="mio" type="checkbox"  value="true" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.MIO" [disabled]="true">
                      <label class="form-check-label" for="mio">Multiple Item Order</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" id="country" type="checkbox"  value="true" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.Country" [disabled]="true && !editStatusf" >
                      <label class="form-check-label" for="country">Canada</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" id="deliveryGuarantee" type="checkbox"  value="true" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.DeliveryGuarantee" [disabled]="true && !editStatusf" >
                      <label class="form-check-label" for="deliveryGuarantee">Delivery Guarantee</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row border responsiveForm skuGroup p-4">
                <div class="col-md-12" >
                  <ng-container *ngFor="let list of feedbackJsonData.SKUGroup; let i = index" >
                    <hr *ngIf="i>0">
                    <div class="row">
                      <ng-template #skuExist>
                        <div class="col-md-12 " >
                          <h3 class="card-title text-center bg-light  p-2" >
                            <i class="fas fa-text-width"></i>
                            {{ list.SKU }}
                          </h3>

                        </div>
                      </ng-template>

                      <ng-container *ngIf="editStatusf else skuExist">
                        <div class="col-md-6 " >
                          <app-sku-auto-complete
                            [label]="'SKU'"
                            [id]="'sku' + i"
                            [skuData]="feedbackJsonData.SKUGroup[i].SkusList"
                            [placeholder]="'Enter SKU'"
                            [disabled]="false"
                            [ShowSKUError]="list.Errors?.ShowSKUError"
                            [(inputModel)]="list.SKU" (change)="validateForm()" >
                          </app-sku-auto-complete>
                        </div>
                        <div class="col-md-6 ">
                          <div class="form-group">
                            <button (click)="removeRow(i)" class="btn btn-danger btn-sm mt-4"><i class="fas fa-trash"></i></button>
                          </div>
                        </div>
                      </ng-container>

                      <div class="col-md-6 ">
                        <div class="form-group">
                          <label for="complaintType">Type of Complaints:</label>
                          <select class="form-control colorSelect" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="list.Complaint" (change)="changeOption($event, list.Complaint, i)" (change)="validateForm()" >
                            <option value="0" > Select Complaint Type </option>
                            <ng-container *ngFor="let option of list.ComplaintDropdown" >
                              <option value="{{ option.complaint_id }}">{{ option.complaint_name }}</option>
                            </ng-container>
                          </select>
                          <small *ngIf="list.Errors.ShowComplaintError" class="text-danger">* Complaint Type is required.</small>
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group">
                          <label for="complaint">Complaints:</label>
                          <select class="form-control colorSelect" id="childValue" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="list.TypeOfComplaint" (change)="changeComplaintTypeOption(i)" (change)="validateForm()" >
                            <option value="0"> Select Complaint </option>
                            <ng-container *ngFor="let option of list.TypeOfComplaintDropdwon" >
                              <option value="{{ option.id }}">{{ option.name }}</option>
                            </ng-container>
                          </select>
                          <small class="text-danger" *ngIf="list.Errors.ShowComplaintTypeError">* Complaint is required.</small>
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group">
                          <label for="solution">Solution:</label>
                          <select class="form-control colorSelect" id="solution" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="list.Solution" (change)="changeSolution(i, $event)" (change)="validateForm()" >
                            <option value="0" > Select Solution </option>
                            <ng-container *ngFor="let option of list.SolutionDropdwon" >
                              <option value="{{ option.id }}">{{ option.solution }}</option>
                            </ng-container>
                          </select>
                          <small class="text-danger" *ngIf="list.Errors.ShowSolutionError">* Solution is required.</small>
                        </div>
                      </div>
                      <div class="col-md-6 " *ngIf="checkSKUQuantityDisplay()">
                        <div class="form-group">
                          <label for="skuQuantity">SKU Quantity:</label>
                          <input appRestrictCharacters type="text" class="form-control" id="skuQuantity"  placeholder="Enter SKU Quantity"  [ngModelOptions]="{ standalone: true }"  [(ngModel)]="list.skuQuantity" (keyup)="restrictInputValue($event, i, list.skuQuantityTemp)">
                          <input type="hidden" >
                        </div>
                      </div>
                      <ng-container *ngIf="!list.hideBasedOnSolutionSelected">
                        <div class="col-md-6 ">
                          <div class="form-group">
                            <label for="qtyReplaced">Quantity Replaced:</label>
                            <input appRestrictCharacters type="text" class="form-control" id="qtyReplaced"  placeholder="Enter Quantity Replaced" [disabled]="list.hideBasedOnSolutionSelected" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="list.QtyReplaced" (keyup)="changeQuantityValue($event, i)">
                          </div>
                        </div>
                        <div class="col-md-6 ">
                          <app-sku-auto-complete
                            [label]="'SKU-Replaced'"
                            [id]="'skuReplaced' + i"
                            [skuData]="feedbackJsonData.SKUGroup[i].SkusList"
                            [placeholder]="'Enter SKU Replaced'"
                            [disabled]="list.hideBasedOnSolutionSelected"
                            [(inputModel)]="list.SKUReplaced">
                          </app-sku-auto-complete>
                        </div>
                      </ng-container>

                    </div>

                  </ng-container>
                  <div class="col-md-12" *ngIf="!feedbackJsonData.skusEXIST">
                    <button (click)="addSKUGroupDynamicRow()" class="btn btn-secondary">Add Row</button>
                  </div>
                </div>
              </div>
              <div class="row responsiveForm p-4">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="stamp1">Stamp 1:</label>
                    <select class="form-control colorSelect" id="stamp1" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.Stamp1"  >
                      <option value="0" > Select Option </option>
                      <ng-container *ngIf="internalService.dropdownDataExist">
                          <option *ngFor="let option of internalService.dropdownData.StampOne" value="{{ option.id }}">{{ option.stamp_name }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="!hideBasedOnAllSolutionSelected">
                  <div class="form-group">
                    <label for="shipping">Shipping:</label>
                    <select class="form-control colorSelect" id="shipping" [disabled]="hideBasedOnAllSolutionSelected" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.Shipping" >
                      <option value="0" > Select Shipping </option>
                      <ng-container *ngIf="internalService.dropdownDataExist">
                          <option *ngFor="let option of internalService.dropdownData.Shipping" value="{{ option.id }}">{{ option.name }}</option>
                      </ng-container>
                    </select>
                    <small *ngIf="maditoryFields.Shipping"  class="text-danger">* Shipping is required.</small>
                  </div>
                </div>
                <div class="col-md-4 row">
                  <div class="form-group mt-4 col-md-6">
                    <div class="form-check">
                      <input class="form-check-input" id="return" type="checkbox" value="true" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.Return" >
                      <label class="form-check-label" for="return">Return</label>
                    </div>
                  </div>
                  <div class="form-group mt-4 col-md-6" *ngIf="feedbackJsonData.DeliveryGuarantee">
                    <div class="form-check">
                      <input class="form-check-input" id="deliveryGuaranteeAgent" type="checkbox" value="true" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.DeliveryGuaranteeAgentCheck" >
                      <label class="form-check-label" for="deliveryGuaranteeAgent">Delivery Guarantee</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="source">Source:</label>
                    <select class="form-control colorSelect" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.Source" disabled="{{feedbackJsonData.SourceDisable}}" (change)="validateForm()" >
                      <option value="0" > Select Source </option>
                      <ng-container *ngIf="internalService.dropdownDataExist">
                        <option *ngFor="let option of this.sourceDropdown" value="{{ option.id }}">{{ option.source }}</option>
                      </ng-container>
                    </select>
                    <small *ngIf="maditoryFields.Source" class="text-danger">* Source is required.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="assignee">Assignee:</label>
                    <select class="form-control colorSelect" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackJsonData.Assg" (change)="validateForm()" >
                      <option value="0" > Select Assignee </option>
                      <ng-container *ngIf="internalService.dropdownDataExist">
                        <option *ngFor="let option of internalService.dropdownData.Assignee" value="{{ option.id }}">{{ option.assigned }}</option>
                      </ng-container>
                    </select>
                    <small *ngIf="maditoryFields.Assignee"  class="text-danger">* Assignee is required.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="status">Status:</label>
                    <select class="form-control colorSelect" id="status" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="feedbackStatus"  >
                      <ng-container *ngIf="internalService.dropdownDataExist">
                        <option *ngFor="let option of internalService.dropdownData.TicketStatus" value="{{ option.id }}">{{ option.name }}</option>
                      </ng-container>
                    </select>
                    <small *ngIf="maditoryFields.Status"  class="text-danger">* Status is required.</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="images">Images:</label>
                    <input class="form-control" type="file" multiple accept="image/*" id="images" (change)="onFileSelected($event)"  >
                  </div>
                </div>
              </div>
              <div class="form-group row p-4">
                <div class="col-sm-3" *ngFor="let preview of imagePreviews; let imageIndex = index">
                  <div  class="p-1 d-flex uploadImageDiv">
                    <a href="{{preview}}" target="_blank">
                      <img [src]="preview" alt="Image Preview"  />
                    </a>

                    <div><button type="button" [ngbTooltip]="'Remove Image'" (click)="removeImage(imageIndex)"  class="btn btn-danger btn-sm ml-3">X</button></div>
                  </div>
                </div>
              </div>
              <div class="row p-4">
                <div class="col-md-12">
                  <div class="form-group">
                  <label for="comments">Comments</label>
                  <textarea class="form-control colorSelect" placeholder="Enter ..." id="comments" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="this.comments" ></textarea>
                  </div>
                </div>
                <div  class="col-md-12">
                  <div class="form-group">
                    <button type="button" (click)="onSubmit()" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                <div *ngIf="this.commentsList.length > 0" class="col-md-12">
                  <div class="form-group responsiveFeedbackTableBody">
                    <label class="th-color">Previous Comments</label>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="th-color">S No.</th>
                          <th class="th-color">Date & Time</th>
                          <th class="th-color">Agent</th>
                          <th class="th-color">Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let comment of commentsList; let commentIndex = index; ">
                          <td class="colorSelect">{{ commentIndex+1 }}</td>
                          <td class="colorSelect">{{ comment.datetime | formatDate:'shortDate' }}</td>
                          <td class="colorSelect">{{ comment.agent_name }}</td>
                          <td class="colorSelect">{{ comment.comment }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
