<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-shopify-order-search-filters
          [searchType]="searchParams.SearchType"
          [searchValue]="searchParams.SearchValue"
          (searchOptions)="getShopifyData($event)"></app-shopify-order-search-filters>
        </div>
      </div>
      <div class="row" *ngIf="searchParams.DataSearched">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex">
              <div class="d-flex mr-2" *ngIf="isSortEnable">
                <button class="btn btn-default btn-sm" ngbTooltip="Ascending Orders" (click)="sortOrders('asc')"><i class="fas fa-arrow-up"></i></button>
                <button class="btn btn-default btn-sm" ngbTooltip="Descending Orders" (click)="sortOrders('desc')"><span class="fas fa-arrow-down"></span></button>
              </div>
              <h3 class="mt-1 card-title">Order Details</h3>
            </div>
            <div class="card-body responsiveFeedbackTableBody" *ngIf="this.searchParams.CustomersExist">
              <label>Customer Details:</label>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="th-color">S.No</th>
                    <th class="th-color">Customer Id</th>
                    <th class="th-color">Customer Name</th>
                    <th class="th-color">Email</th>
                    <th class="th-color">View Orders</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cust of this.searchParams.Customers; let custIndex = index;" [class.highlighted] = "custIndex === selectedRowIndex">
                    <td class="colorSelect">{{ custIndex+1 }}</td>
                    <td class="colorSelect"><a>{{ cust.id }}</a></td>
                    <td class="colorSelect">{{ cust.first_name }} {{ cust.last_name }}</td>
                    <td class="colorSelect">{{ cust.email }}</td>
                    <td class="colorSelect"><i class="handCursor fas fa-eye" (click)="viewOrderByCustomerId(cust.id, cust.orders_count,custIndex, cust.email)"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-container *ngIf="this.searchParams.OrdersExist">
            <div class="card-body">
              <app-product-grouping-table  [allProducts]="this.searchParams.Orders" ></app-product-grouping-table>

            </div>

            <div class="card-footer">
              <div class="float-right d-none d-sm-block colorSelect">
                Total Orders: <b>{{ searchParams.OrdersCount }}</b>
              </div>
              <div class="float-right d-none d-sm-block mr-3">
                <select  (change)="showNumberOfRecords()" [(ngModel)]="searchParams.PageRecords" class="colorSelect">
                  <option value="10">10 Records</option>
                  <option value="25">25 Records</option>
                  <option value="50">50 Records</option>
                  <option value="100">100 Records</option>
                </select>
              </div>
              <ul class="pagination" *ngIf="this.searchParams.NextURL !== '' || this.searchParams.PreviousURL !== ''">
                <li class="page-item"><a class="page-link text-blue" (click)="searchBasedonPagination(this.searchParams.PreviousURL)" [class.disabled]="this.searchParams.PreviousURL === '' || null">« Previous</a></li>
                <li class="page-item "><a class="page-link text-blue" (click)="searchBasedonPagination(this.searchParams.NextURL)"  [class.disabled]="this.searchParams.NextURL === '' || null">Next »</a></li>
              </ul>
            </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="overlay-wrapper" *ngIf="orderSearchLoader">
        <div class="overlay">
          <img class="fas fa-3x fa-sync-alt fa-spin LoadIcon" src="assets/dist/img/icons/loader-Icon.png" >
          <div class="text-bold pt-2">Loading...</div>
        </div>
      </div>
      <ng-template  #noRecords>
        <div class="card-body">
          <span class="text-center"> No records found </span>
        </div>
      </ng-template>
    </div>
  </section>
</div>
