/* Responsive styling */
@media (max-width: 768px) {
  .d-flex {
    flex-wrap: wrap; /* Allow wrapping of child elements */
  }

  .form-group {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px !important;
    flex: 1 1 45%; /* Take up almost half the width */
  }

  .width300 {
    flex: 1 1 100%; /* Full width for wider input groups */
  }

  .input-group input {
    width: 100%; /* Full width on tablet and larger */
  }
}
@media (max-width: 426px) {
  .d-flex {
    flex-direction: column;
  }
  .form-group {
    width: 100%; /* Full width on smaller screens */
    margin-left: 0 !important;
    margin-right: 0;
  }

  .input-group input {
    width: 100%; /* Full width on smaller screens */
  }
}
