<div class="card-tools ">
  <ul class="pagination m-0">
    <li class="page-item">
      <a class="page-link text-blue handCursor" [class.disabled]="paginationInfo.CurrentPage === 1" (click)="onPageChange(paginationInfo.CurrentPage - 1)">« Previous</a>
    </li>

    <!-- Always display the first page -->
    <li  class="page-item" (click)="onPageChange(1)">
      <a class="page-link text-blue handCursor" [class.active]="1 === paginationInfo.CurrentPage">1</a>
    </li>

    <!-- Display "..." if there are more pages to the left -->
    <ng-container *ngIf="paginationInfo.CurrentPage > 3">
      <li class="page-item">
        <span class="page-link">...</span>
      </li>
    </ng-container>

    <!-- Display pages based on the current page and total pages -->
    <ng-container *ngFor="let page of paginationInfo.PagesToDisplay">
      <li *ngIf="page != 1 && paginationInfo.TotalPages != page" class="page-item" (click)="onPageChange(page)">
        <a class="page-link text-blue handCursor" [class.active]="page === paginationInfo.CurrentPage">{{ page }}</a>
      </li>
    </ng-container>

    <!-- Display "..." if there are more pages to the right -->
    <ng-container *ngIf="paginationInfo.CurrentPage < paginationInfo.TotalPages - 2">
      <li class="page-item">
        <span class="page-link">...</span>
      </li>
    </ng-container>

    <!-- Always display the last page -->
    <li *ngIf="paginationInfo.TotalPages != 0 && paginationInfo.TotalPages != 1" class="page-item" (click)="onPageChange(paginationInfo.TotalPages)">
      <a class="page-link text-blue handCursor" [class.active]="paginationInfo.TotalPages === paginationInfo.CurrentPage">{{ paginationInfo.TotalPages }}</a>
    </li>

    <li class="page-item">
      <a class="page-link text-blue handCursor" [class.disabled]="paginationInfo.CurrentPage === paginationInfo.TotalPages" (click)="onPageChange(paginationInfo.CurrentPage + 1)">Next »</a>
    </li>
  </ul>
  <div class=" d-none d-sm-block mr-3 mt-2">
    <div class="float-right d-none d-sm-block colorSelect ml-1">
      Total Records: <b>{{ paginationInfo.TotalRecords }}</b>
    </div>
    <select  (change)="showNumberOfTickets()" [(ngModel)]="paginationInfo.RecordsPerPage" class="colorSelect">
      <!--<option value="1">1 Records</option>-->
      <option value="10">10 Records</option>
      <option value="25">25 Records</option>
      <option value="50">50 Records</option>
      <option value="100">100 Records</option>
    </select>
  </div>
</div>

