<ul *ngIf="this.userDetails.role_id.includes(1) || this.userDetails.role_id.includes(2)" class="navbar-nav mr-2 m-0 ml-3">
  <li class="nav-item dropdown">
    <a class="paddingTop-5 paddingBottm-5" data-toggle="dropdown" >
      <i class="fas fa-download"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <a (click)="exportData('CSV')" class="dropdown-item handCursor">
        <i class="fas fa-file-csv mr-2"></i> CSV Download
      </a>
      <div class="dropdown-divider"></div>
      <a (click)="exportData('XLS')" class="dropdown-item handCursor">
        <i class="fas fa-file-excel mr-2"></i> XLS Download
      </a>
    </div>
  </li>
</ul>
