<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="float-right d-flex">
            <app-download-option (downloadType)="getDownloadType($event)"></app-download-option>
            <button type="button" [ngbTooltip]="'Clear'" (click)="clearOptions()" *ngIf="filtersActive"  class=" btn btn-danger button-red">Clear</button>
          </div>
        </div>
        <div class="col-md-12">
          <ag-grid-angular
                class="ag-theme-quartz"
                [domLayout]="'autoHeight'"
                [gridOptions]="gridOptions"
                [loadingOverlayComponent]="loadingOverlayComponent"
                [overlayNoRowsTemplate]="noRowsTemplate"
                [enableCellTextSelection]="true"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
      </div>
    </div>
  </section>
</div>
