<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="email" name="email" (input)="clearOthers('email')" (keyup.enter)="searchOrderDetails()">
          <small class="error" *ngIf="!emailValid && email">Invalid email</small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" appRestrictCharacters class="form-control" placeholder="Phone Number" [(ngModel)]="phoneNumber" name="phoneNumber" (ngModelChange)="processPhoneNumber()" (input)="clearOthers('phone')" (keyup.enter)="searchOrderDetails()">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Order Number" [(ngModel)]="orderNumber" name="orderNumber" (input)="clearOthers('order')" (keyup.enter)="searchOrderDetails()">
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex">
          <button class="btn btn-primary" [disabled]="!canSearch()" (click)="searchOrderDetails()">Search</button>
          <button class="btn btn-danger ml-2" *ngIf="showClearButton()" (click)="clearAll()">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
