<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <diV class="card p-4">
            <div class="row border p-4 overlay-wrapper">
              <div class="col-md-4">
                <ul class="mb-0 ml-0 p-0" style="list-style: none;">
                  <li><strong>Order Number: </strong> <a [href]="callLogs.ShopifyOrderLink" target="_blank">{{ callLogs.OrderNumber }}</a></li>
                  <li><strong>Customer Name: </strong> <a [href]="callLogs.ShopifyCustomerLink" target="_blank">{{ callLogs.CustomerName }}</a></li>
                  <li><strong>Email: </strong> {{ callLogs.Email }}</li>
                  <li><strong>Phone Number: </strong> {{ callLogs.Phone }}</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="mb-0 ml-0 p-0" style="list-style: none;">
                  <li><strong>Address: </strong> {{ callLogs.Address }}</li>
                  <li><strong>Customer Time Zone: </strong> {{ customerTime }}</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="mb-0 ml-0 p-0" style="list-style: none;">
                  <li><strong>SKU's: </strong>
                    <ul>
                      <li *ngFor="let sku of tempListedBrands;">{{ sku }}</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row p-4">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="mio" type="checkbox" name="mio" value="true" [(ngModel)]="callLogs.MIO" [disabled]="true">
                    <label class="form-check-label" for="mio">Multiple Item Order</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="country" type="checkbox" name="country" value="true" [(ngModel)]="callLogs.Canada" [disabled]="true">
                    <label class="form-check-label" for="country">Canada</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="deliveryGuarantee" type="checkbox"  value="true" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="callLogs.DeliveryGuarantee" [disabled]="true" >
                    <label class="form-check-label" for="deliveryGuarantee">Delivery Guarantee</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <form  class="overlay-wrapper">


              <div class="row border p-4">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="callLogsPickUp">Picked Up:</label>
                    <select class="form-control" id="callLogsPickUp" [ngModelOptions]="{standalone: true}" [(ngModel)]="callLogs.PickUp" (change)="validationFields()">
                      <option value="0">Select Status</option>
                      <option *ngFor="let option of internalService.dropdownData.CallsPickedUp" value="{{ option.Id }}">{{ option.Picked_up }}</option>
                    </select>
                    <small *ngIf="this.validations.pickedUp"  class="text-danger">* Picked Up field is required.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="callLogsRecationLevel">Reaction Level:</label>
                    <select class="form-control" id="callLogsRecationLevel" [ngModelOptions]="{standalone: true}" [(ngModel)]="callLogs.ReactionLevel">
                      <option value="0">Select Status</option>
                      <option *ngFor="let option of internalService.dropdownData.ReactionLevel" value="{{ option.Id }}">{{ option.Reaction_level }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="callLogsEditedOrAssist">Order edited?/assistance:</label>
                    <select class="form-control" id="callLogsEditedOrAssist" [ngModelOptions]="{standalone: true}" [(ngModel)]="callLogs.OrderEdit_Assist" (change)="validationFields()">
                      <option value="0">Select Status</option>
                      <option *ngFor="let option of internalService.dropdownData.OrderEdited" value="{{ option.Id }}">{{ option.OrderEdited_or_assistance }}</option>
                    </select>
                    <small *ngIf="this.validations.edited_assited" class="text-danger">* Order edited?/assistance field is required.</small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="callLogscomments">Comments:</label>
                    <textarea class="form-control" id="callLogscomments" [ngModelOptions]="{standalone: true}"  [(ngModel)]="callLogs.Comment" ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="button" (click)="submitForm()" class="btn btn-primary mb-2">Save</button>
                </div>
                <div *ngIf="this.commentsList.length > 0" class="col-md-12">
                  <div class="form-group responsiveFeedbackTableBody">
                    <label class="th-color">Previous Comments</label>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="th-color noWordWrap">S No.</th>
                          <th class="th-color noWordWrap">Date</th>
                          <th class="th-color noWordWrap">Time</th>
                          <th class="th-color">Agent</th>
                          <th class="th-color">Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let comment of commentsList; let commentIndex = index; ">
                          <td class="colorSelect">{{ commentIndex+1 }}</td>
                          <td class="colorSelect noWordWrap">{{ comment.datetime | formatDate:'shortDate' }}</td>
                          <td class="colorSelect noWordWrap">{{ comment.datetime | formatDate:'shortTime' }}</td>
                          <td class="colorSelect noWordWrap">{{ comment.agent_name }}</td>
                          <td class="colorSelect">{{ comment.comment }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </diV>
        </div>
      </div>
    </div>
  </section>
</div>
