<div class="content-wrapper">
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-feedback-filters (filterOptions)="filterData($event)"></app-feedback-filters>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title titleHeader">{{ pageTitle }}</h1>
              <div class="card-tools d-flex">
                <button class="btn btn-info btn-xs" >New Issue</button>
                <ul *ngIf="this.userDetails.role_id.includes(1) || this.userDetails.role_id.includes(2)" class="navbar-nav mr-2 m-0 ml-3">
                  <li class="nav-item dropdown">
                    <a class="nav-link paddingTop-5 paddingBottm-5" data-toggle="dropdown" >
                      <i class="fas fa-download"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                      <a (click)="exportData('CSV')" class="dropdown-item handCursor">
                        <i class="fas fa-file-csv mr-2"></i> CSV Download
                      </a>
                      <div class="dropdown-divider"></div>
                      <a (click)="exportData('XLS')" class="dropdown-item handCursor">
                        <i class="fas fa-file-excel mr-2"></i> XLS Download
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0 responsiveFeedbackTableBody">
              <table class="table positionRelative">
                <thead>
                  <tr>
                    <th></th>
                    <th class="handCursor noWordWrap" (click)="onSort('id')">ID <span class="sorting_icon" [ngClass]="{'sorting_desc': Shorting.ShortName === 'id' && Shorting.IsAscending, 'sorting_asc': Shorting.ShortName === 'id' && !Shorting.IsAscending}"></span></th>
                    <th class="handCursor noWordWrap" (click)="onSort('order_number')">Order Id <span class="sorting_icon" [ngClass]="{'sorting_desc': Shorting.ShortName === 'order_number' && Shorting.IsAscending, 'sorting_asc': Shorting.ShortName === 'order_number' && !Shorting.IsAscending}"></span></th>
                    <th>Agent </th>
                    <th class="handCursor noWordWrap" (click)="onSort('date')" >Created Date <span class="sorting_icon" [ngClass]="{'sorting_desc': Shorting.ShortName === 'date' && Shorting.IsAscending, 'sorting_asc': Shorting.ShortName === 'date' && !Shorting.IsAscending}"></span></th>
                    <th class="noWordWrap">Complaint Type</th>
                    <th>Assignee</th>
                    <th>Status </th>
                    <th>View</th>
                    <th *ngIf="this.userDetails.role_id.includes(3)">Action</th>
                  </tr>
                </thead>
                <tbody class="overlay-wrapper">
                  <ng-container *ngIf="loader">
                    <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
                  </ng-container>
                  <ng-container *ngFor="let ticket of ticketsList; let tIndex = index;" >
                    <tr [class.activeTicketRow]="ticket.expandData">
                      <td>
                        <img *ngIf="ticket.ticket_details.length > 1" class="btn dropdownIcon" (click)="toggleGroupOrders(tIndex)" src="assets/dist/img/icons/down-arrow.png">
                      </td>
                      <td><a>{{ ticket.latest_ticket_id }}</a></td>
                      <td><a class="text-primary handCursor" (click)="onEdit(ticket, ticket.latest_ticket_id)">{{ ticket.order_number }}</a></td>

                      <td>{{ ticket.modified_by }}</td>
                      <td>{{ ticket.modified_date }}</td>
                      <td>{{ this.complaintTypeList[ticket.latest_ticket_id]?.join(',') }}</td>
                      <td>{{ ticket.json_data.Assg }}</td>
                      <td style="overflow:hidden;" [ngClass]="{'bgprimary':ticket.status == 'Onhold','bgclosed':ticket.status == 'Solved','bginprogress':ticket.status == 'Pending'}">
                        <small>
                          {{ticket.status}}
                        </small>
                      </td>
                      <td class="project-actions" >
                        <span class="handCursor" (click)="onEdit(ticket, ticket.latest_ticket_id)"><i class="fas fa-eye"></i></span>
                        <span *ngIf="ticket.json_data.fileUrls?.length > 0" class="ml-1"> <i class="fas fa-camera"></i></span>
                      </td>
                      <td *ngIf="!this.userDetails.role_id.includes(3)">
                        <span class="handCursor" (click)="inactiveTicket(ticket.latest_ticket_id, ticket.order_number)"><i class="fas fa-trash"></i></span>

                      </td>
                    </tr>
                    <ng-container *ngFor="let subTicket of ticket.ticket_details; let ticketIndex=index;" >
                      <tr *ngIf="subTicket.id != ticket.latest_ticket_id" class="collaspe" [class.d-none]="!ticket.expandData" style="border-left: 2px solid blue;">
                        <td class="subTicketsList"></td>
                        <td class="subTicketsList"><a>{{ subTicket.id }}</a></td>
                        <td class="subTicketsList"><a class="text-primary handCursor" (click)="onEdit(subTicket, subTicket.id)" >{{ ticket.order_number }}</a></td>

                        <td class="subTicketsList">{{ subTicket.created_by }}</td>
                        <td class="subTicketsList">{{ subTicket.modified_date }}</td>
                        <td class="subTicketsList"><a>{{ this.complaintTypeList[subTicket.id]?.join(',') }}</a></td>
                        <td class="subTicketsList">{{ ticket.json_data.Assg }}</td>
                        <td class="subTicketsList" style="overflow:hidden;" [ngClass]="{'bgprimary':subTicket.status == 'Onhold','bgclosed':subTicket.status == 'Solved','bginprogress':subTicket.status == 'Pending'}">
                          <small>
                            {{ subTicket.status}}
                          </small>
                        </td>
                        <td class="project-actions subTicketsList" >
                          <span class="handCursor" (click)="onEdit(subTicket, subTicket.id)"><i class="fas fa-eye"></i></span>
                          <span *ngIf="subTicket.json_data.fileUrls?.length > 0" class="ml-1"><i class="fas fa-camera"></i></span>
                        </td>
                        <td *ngIf="!this.userDetails.role_id.includes(3)" class="subTicketsList">
                          <span class="handCursor" (click)="inactiveTicket(subTicket.id, ticket.order_number)"><i class="fas fa-trash"></i></span>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <app-pagination [paginationInfo]="pagination" (pageChange)="pageChangeInfo($event)"></app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
