<!--<div>
  <input type="date" [(ngModel)]="dateFrom" (input)="onDateChanged()" placeholder="From"/>
  <input type="date" [(ngModel)]="dateTo" (input)="onDateChanged()" placeholder="To"/>
</div>-->
<div class="input-group">
  <input
    class="form-control"
    placeholder="From"
    ngbDatepicker
    #fromDateDp="ngbDatepicker"
    [(ngModel)]="dateFrom"
    (ngModelChange)="onDateChanged()"
    (click)="fromDateDp.toggle()"
  />
  <input
    class="form-control"
    placeholder="To"
    ngbDatepicker
    #toDateDp="ngbDatepicker"
    [(ngModel)]="dateTo"
    (ngModelChange)="onDateChanged()"
    (click)="toDateDp.toggle()"
  />
</div>
