<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-bread-crumbs [Title]="pageTitle" [list]="breadCrumbList"></app-bread-crumbs>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card-tools float-right">
            <button (click)="openModelForUserAdding()" class="btn button-blue mb-2">Create User</button>
          </div>
        </div>
        <div class="col-md-12">
          <ag-grid-angular
                class="ag-theme-quartz"
                [domLayout]="'autoHeight'"
                [gridOptions]="gridOptions"
                [rowData]="rowData"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
