.width150{
  width: 150px;
}

.table{
  font-size: small;
  text-align: center;
}

.table thead tr th{
  color: #7e7e7e !important;
}
.card-body.p-0 .table tbody>tr>td:first-of-type, .card-body.p-0 .table tbody>tr>th:first-of-type, .card-body.p-0 .table tfoot>tr>td:first-of-type, .card-body.p-0 .table tfoot>tr>th:first-of-type, .card-body.p-0 .table thead>tr>td:first-of-type, .card-body.p-0 .table thead>tr>th:first-of-type{
  padding-left: 0.5rem;
}
.active>.page-link, .page-link.active{
  background-color: #219ebc !important;
  color: #fefae0 !important;
}

.bginprogress > small {
  background-color: #ffc971;
  padding: 5px;
  color: #7c6a0a;
  border-radius: 10px;
}
.bgclosed > small {
  background-color: #b7e4c7;
  color: #1b4332;
  padding: 5px;
  border-radius: 10px;
}
@media screen and (max-width: 426px) {
  .width150{
    width: 150px;
  }
  .responsivefilter{
    margin-top: 10px;
  }
  .responsivefilterButton{
    padding-right: 13px !important;
    padding-left: 13px !important;
  }
  .responsiveBody{
    overflow-x: scroll;
  }
}
