
<div class="card {{ cardBackground }}">
  <app-card-chart-header class="{{cardBackground}}" [cardTitle]="cardTitle" [cardAliasName]="cardAliasName" (valueToParent)="valueToParentParent($event)"></app-card-chart-header>

  <div class="card-body p-0">
    <div class="tab-content p-0">
      <!-- Morris chart - Sales -->
      <div class="chart tab-pane active p-3" id="{{ cardAliasName }}-chart">
        <div style="display: block">
          <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [type]="chartType" height="{{canvaHeight}}"> </canvas>
        </div>
      </div>
      <div class="chart tab-pane responsiveBody" id="{{ cardAliasName }}-table" >
        <ng-container *ngIf="chartTableData">
          <app-basic-table [tableInfo]="chartTableData"></app-basic-table>
        </ng-container>


      </div>
    </div>

  </div>
  <!-- /.card-body -->
</div>
