.card-title{
  font-size: medium;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active{
  color: #ced4da !important;
}
/* Large screens - min-width 992px */
@media (min-width: 1200px) {
  .height355 {
      height: 355px; /* Adjusted height for large screens */
  }
  .height442 {
      height: 442px; /* Adjusted height for large screens */
  }
}

/* Extra large screens - min-width 1200px */
@media (min-width: 1420px) {
  .height355 {
    height: 490px; /* Adjusted height for large screens */
  }
  .height442 {
    height: 600px; /* Adjusted height for large screens */
}
}

