
<div class="wrapper">


    <app-sidenav (buttonclick)="toggle()" ></app-sidenav>
    
      <!-- Main Sidebar Container -->
      
      <div *ngIf="isVisable" >
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a  class="brand-link">
          <img src="/assets/images/WellBefore.png" style="width:150px;height: 50px;" />
        </a>
    
        <!-- Sidebar -->
        <div class="sidebar" >
    
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                  <fa-icon class="nav-icon" [icon]="faTachometerAlt"></fa-icon>
                  <p>
                    Dashboard
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/people-management" routerLinkActive="active">
                  <fa-icon class="nav-icon" [icon]="faTh"></fa-icon>
                  <p>
                    People Management
                  </p>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/notes" routerLinkActive="active">
                    <fa-icon class="nav-icon" [icon]="faCopy"></fa-icon>
                  <p>
                    Notes
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <!-- <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Top Navigation</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Top Navigation + Sidebar</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/boxed.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Boxed</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/fixed-sidebar.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Fixed Sidebar</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/fixed-sidebar-custom.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Fixed Sidebar <small>+ Custom Area</small></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/fixed-topnav.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Fixed Navbar</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/fixed-footer.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Fixed Footer</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Collapsed Sidebar</p>
                    </a>
                  </li>
                </ul> -->
              </li>
              <!-- <li class="nav-item">
                <a href="#" class="nav-link">
                  <fa-icon class="nav-icon" [icon]="faChartPie"></fa-icon> -->
                  <!-- <p>
                    Logout
                    <i class="right fas fa-angle-left"></i>
                  </p> -->
                <!-- </a> -->
                <!-- <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/charts/chartjs.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ChartJS</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/charts/flot.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Flot</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/charts/inline.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Inline</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/charts/uplot.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>uPlot</p>
                    </a>
                  </li>
                </ul> -->
              <!-- </li> -->
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
    </div>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" id="wrapper" [ngStyle]="{'margin-left':isVisable === false ? '0px' : '250px'}">
        <router-outlet></router-outlet>
        
      </div>
      <!-- /.content-wrapper -->
      

      <footer>
        <app-footer></app-footer>
      </footer>
    
      <!-- Control Sidebar -->
      <!-- <aside class="control-sidebar control-sidebar-dark"> -->
        <!-- Control sidebar content goes here -->
      <!-- </aside> -->
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    